
body {
padding:0; margin: 0; background: #ffffe0;
}

h1 {
	text-align: center;
	margin: 35px 0;

	background-image:url(logo.jpg);
	background-repeat:no-repeat;
  	background-position: 50% 0;

  	height: 73px;
  	color: transparent;
}

#content {
	text-align: center; 
	font-size: 0;
	margin-top: 50px;
}

#Cocos2dGameContainer {
	margin: 0 auto;
}

#footer {
	text-align: center; 
	margin-top: 50px;
}

audio {
	display: none;
}